<%- include notify %>
<%- include loading %>
<div id="main" class="bye">
  <%- include nav %>
  <div class="container main-container">
<div class="markdown-editor-widget viewMode-normal clearfix row-fluid">
    <div class="editorPanel">
        <div id="id_content_editor" class="ace_editor" data-target="id_content">
        <%- readme %>
   </div>
        <div style="display:none;">
            <textarea  name="content" required id="id_content">
      </textarea>
        </div>
    </div>
    <div class="previewPanel">
      <div class="preview"></div>
    </div> <!-- Preview Panel -->
    <div class="done"><a href="javascript:void(0);" class="btn">确认</a></div>
    <div class="version-buttons  btn-group">
      <a href="javascript:void(0);" class="revert btn">使用该版本</a>
      <a href="javascript:void(0);" class="diff btn">比较差异</a>
      <a href="javascript:void(0);" class="backward btn">上一下版本</a>
      <a href="javascript:void(0);" class="forward btn">下一个版本</a>
    </div>
    <div class="select-version"></div>
    <div class="statics">
      <span id="span-stat-value1">字符数：</span>
      <span id="span-stat-value2">字数：</span>
      <span id="span-stat-value3">段数：</span>
    </div>
  </div>
</div>
  
</div> <!-- end #main -->
<iframe id="downloader" class="hide"></iframe>
<div id="modal-generic" class="modal hide fade in" data-backdrop="static">
  <div class="modal-header">
    <a href="javascript:void(0)" class="close" data-dismiss="modal">&times;</a>
    <h5 class="header-title"></h5>
  </div>
  <div class="modal-body">
  </div>
  <div class="loading hide"><img src="/img/spinner.gif" alt="loading"></div>
  <div class="modal-footer">
  </div>
</div>
<%- include share %>
