<!DOCTYPE html>
<html lang="en" manifest="cache.manifest">
<%- include head %>
<body>
  <noscript>
		<%- error %>
		<%- isUsingEvernoteDefaultConfig%>
    <p>由于您的浏览器没有开始javascript的支持，本系统将无法使用</p>
  </noscript>
<%- include body %>
<%- include scripts %>
</body>
</html>
